@import "tailwindcss";

.navButton {
    @apply border-2 rounded-2xl p-2 pr-[10vw] pl-[10vw] hover:dark:border-red-950 hover:border-red-400 hover:text-red-400 hover:dark:text-red-950 hover:dark:bg-gray-700 hover:bg-lime-700 transition duration-300;
}